@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Daniel";
    src: url("../assets/fonts/daniel.ttf");
  }
  @font-face {
    font-family: "Danielbd";
    src: url("../assets/fonts/danielbd.ttf");
  }
  html {
    @apply flex min-h-full flex-col;
  }
  body {
    @apply flex min-h-full flex-grow flex-col bg-gray-50 text-gray-900;
  }
  #__next {
    @apply flex min-h-full flex-grow flex-col gap-3 sm:gap-6 md:gap-12 lg:gap-24;
  }
  h1 {
    @apply mb-2 bg-gray-900 py-4 text-center text-sm uppercase tracking-wider text-gray-50 sm:mb-5 sm:py-5 sm:text-base md:mb-6 md:py-6 md:text-lg lg:mb-7 lg:py-7 lg:text-xl xl:mb-8 xl:py-8 xl:text-2xl 2xl:mb-9 2xl:py-9 2xl:text-3xl;
  }
  h2 {
    @apply text-lg;
  }
  p + p {
    @apply mt-8;
  }
  a:active {
    @apply translate-y-1 transition-transform duration-75 ease-linear;
  }
  .link {
    @apply relative after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-full after:origin-bottom-left after:scale-x-100 after:bg-gray-900 after:transition-transform after:duration-300 after:ease-in-out hover:after:origin-bottom-right hover:after:scale-x-0;
  }
  nav [aria-current="page"] i {
    @apply text-gray-900;
  }
}
